<div id="mimenu">
    <div class="imgdash">
        <div><img src="assets/engrane.jpg" alt="Engrane"></div>
    </div>
    <div class="item ">
        <div class="itemmenu border-bottom" routerLink="/tornillo-potencia"><i class="ti ti-crane"></i> Tornillo
            Potencia</div>
        <div class="itemmenu border-bottom" routerLink="/eje-paralelo"><i class="ti ti-settings"></i> Eje Paralelo
        </div>
        <div class="itemmenu border-bottom" routerLink="/eje-perpendicular"><i class="ti ti-settings-x"></i> Eje
            Perpendicular</div>
    </div>
</div>
<div id="superior">
    <div style="cursor: pointer;" (click)="ocultar_Menu()"><img class="img_menu" src="../../../assets/btn_menu.png"
            alt="Menu"> </div>
</div>